.top-container {
    color: #712D1F;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: xx-large;
}

.ion-label-1 {
    margin-left: 5rem;
}

.avalie-label-1 {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #712D1F;

}

.avalie-label-2 {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #712D1F;

}

.star-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #712D1F;
}

.star-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #712D1F;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    color: #712D1F;
  }
  
  .ion-icon-1 {
    margin-left: 8.5rem;
    margin-right: 3.5rem;
  }

  .submit-button {
    width: 15.5rem;
    margin-left: 5rem;
    --background: #712D1F;
  }

