<div class="top-container">
  <ion-icon size="large" name="chevron-back-sharp" routerLink="/restaurants"></ion-icon>
  <ion-label class="ion-label-1">Bom Garfo</ion-label>
  <ion-icon class="ion-button-2" size="large" name="home-sharp" routerLink="/restaurants"></ion-icon>

  <br />
  <br />
  <br />
  
  

  <ion-label class="ion-label-2">Escolha a localização para a entrega :</ion-label>
  <ion-img class="image" src="/assets/images/map.webp"></ion-img>

  
  <ion-button class="confirm-button" routerLink="/entrega">Confirmar</ion-button>
  <ion-button class="select-button">Selecionar a localização atual</ion-button>
</div>